



*, *::before, *::after {
    box-sizing: border-box;

    font-family: Georgia, 'Times New Roman', Times, serif;





}



.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn{



    border:1px solid  ;
}
